.comm_heading {
  color: white;
  margin: 1.5rem 0 2rem;
  display: flex;
  justify-content: center;
}
.comm_head {
  position: relative;
  /* margin: 0 auto; */
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.comm_head::before {
  content: "";
  position: absolute;
  height: 0.06rem;
  left: 2%;
  right: 2%;
  bottom: -20%;
  background-color: white;
}
