.slide_image {
}

.slide {
  color: white;
}
.slide_image > img {
  /* height: 100%; */
  width: 100%;
}
.slide_details {
}
.slide_name {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.slide_info {
  font-size: 0.8rem;
  font-weight: 300;
}
