.product {
  margin-bottom: 3rem;
  color: white;
  width: 100%;
}
.product_image {
  max-width: 45%;
  max-height: 100%;
  object-fit: cover;
}
.product_image img {
  width: 100%;
  object-fit: cover;
}
.product_detail {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 400;
}
.product_category {
  font-size: 1.2rem;
  font-weight: 200;
  position: relative;
  cursor: pointer;
  top: -2px;
  margin-bottom: 0.2rem;
}
.product_price {
  font-size: 1.4rem;
}
.product_decr_head {
  display: flex;
  align-items: center;
}
.product_decr_head span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.p_desc {
  font-size: 1rem;
  font-weight: 100;
}

.product_addTo {
  width: 50%;
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid white;
  margin: 0.5rem 0;
  color: white;
  cursor: pointer;
}
