.navigation {
  position: fixed;
  top: 0;
  background-color: var(--base-color);
  height: 100vh;
  width: 70%;
  z-index: 100000;
  color: white;
  transition: all 0.5s ease-out;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.6);
}
.naigation_icon {
  position: absolute;
  top: 2%;
  cursor: pointer;
  right: 4%;
}
.navigation_cross {
  font-size: 3rem;
}
.navigation_links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 3rem; 
  align-items: flex-start;
  margin-top: 10%;
}
.navigation_link {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
}
